In [20]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv("../dataset/sport-car-price.csv")
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"

In [22]:
headers = ["brand", "model", "year", "engine_size", "horsepower", "torque", "0-60", "price"]

In [23]:
df.columns = headers
df.head()

         brand    model  year engine_size horsepower torque 0-60    price
0      Porsche      911  2022           3        379    331    4  101,200
1  Lamborghini  Huracan  2021         5.2        630    443  2.8  274,390
2      Ferrari  488 GTB  2022         3.9        661    561    3  333,750
3         Audi       R8  2022         5.2        562    406  3.2  142,700
4      McLaren     720S  2021           4        710    568  2.7  298,000

In [24]:
df["price"] = df["price"].apply(lambda price: price.replace(",", ""))
df.head()

         brand    model  year engine_size horsepower torque 0-60   price
0      Porsche      911  2022           3        379    331    4  101200
1  Lamborghini  Huracan  2021         5.2        630    443  2.8  274390
2      Ferrari  488 GTB  2022         3.9        661    561    3  333750
3         Audi       R8  2022         5.2        562    406  3.2  142700
4      McLaren     720S  2021           4        710    568  2.7  298000

In [25]:
df.to_csv("../dataset/processed_data.csv", index=False, header=True)