In [44]:
import pandas as pd

### Load dataset

In [45]:
df = pd.read_csv("../dataset/sport-car-price.csv")
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"

### Change column names

In [46]:
df.columns = ["brand", "model", "year", "engine_size", "horsepower", "torque", "0-60", "price"]
df.head()

         brand    model  year engine_size horsepower torque 0-60    price
0      Porsche      911  2022           3        379    331    4  101,200
1  Lamborghini  Huracan  2021         5.2        630    443  2.8  274,390
2      Ferrari  488 GTB  2022         3.9        661    561    3  333,750
3         Audi       R8  2022         5.2        562    406  3.2  142,700
4      McLaren     720S  2021           4        710    568  2.7  298,000

# Analyze data set

In [47]:
# check for missing values
df.isnull().sum()

brand           0
model           0
year            0
engine_size    10
horsepower      0
torque          3
0-60            0
price           0
dtype: int64

In [48]:
# get distinct values for brand
df["brand"].unique()

array(['Porsche', 'Lamborghini', 'Ferrari', 'Audi', 'McLaren', 'BMW',
       'Mercedes-Benz', 'Chevrolet', 'Ford', 'Nissan', 'Aston Martin',
       'Bugatti', 'Dodge', 'Jaguar', 'Koenigsegg', 'Lexus', 'Lotus',
       'Maserati', 'Alfa Romeo', 'Ariel', 'Bentley', 'Mercedes-AMG',
       'Pagani', 'Polestar', 'Rimac', 'Acura', 'Mazda', 'Rolls-Royce',
       'Tesla', 'Toyota', 'W Motors', 'Shelby', 'TVR', 'Subaru',
       'Pininfarina', 'Kia', 'Alpine', 'Ultima'], dtype=object)

In [49]:
# get distinct values for model
df["model"].unique()

array(['911', 'Huracan', '488 GTB', 'R8', '720S', 'M8', 'AMG GT',
       'Corvette', 'Mustang Shelby GT500', 'GT-R Nismo', 'DB11', 'Chiron',
       'Challenger SRT Hellcat', 'F-Type', 'Jesko', 'LC 500', 'Evora GT',
       'GranTurismo', 'Boxster', 'Giulia Quadrifoglio', 'Atom',
       'Continental GT', 'Artura', 'SLS AMG', 'Huayra', '1', 'Nevera',
       'Cayman GT4', 'Aventador SVJ', 'SF90 Stradale', 'RS7', 'M4',
       'Camaro ZL1', 'GT', '370Z Nismo', 'Taycan 4S', 'Urus', 'Roma',
       'RS3', 'i8', 'CLS63 AMG', 'Cayman', '570S', 'AMG C63', 'Camaro SS',
       'Mustang GT', 'Vantage', 'Panamera', 'S5', '600LT', 'M5', 'RS5',
       'M2', 'Challenger SRT Hellcat Redeye', 'Aventador', 'C63 AMG',
       '370Z', 'TT RS', 'Corvette Stingray', 'F8 Tributo',
       'Mustang Mach 1', '718 Cayman', 'NSX', 'MX-5 Miata',
       '718 Cayman GT4', 'Wraith', 'Roadster', 'Supra',
       'Fenyr Supersport', 'SL 63 AMG', 'DBS Superleggera',
       'Panamera Turbo S E-Hybrid', 'Portofino', 'Panamera Turbo S',
       'Z4 M40i', 'RS 3', 'M2 CS', 'Viper', 'C_Two', 'Cobra',
       'Model S Plaid', 'GR Supra', 'Griffith', 'Lykan Hypersport',
       'RS 6', 'Taycan', 'AMG C 63', 'RS 6 Avant', 'C 63 S Coupe', 'RS 7',
       'Aventador S', 'M2 Competition', 'S63 AMG', 'Taycan Turbo S',
       '812 Superfast', 'R8 Spyder', 'AMG GT R', 'F-Type R', '4C',
       'Charger SRT Hellcat', 'WRX STI', 'Panamera Turbo', 'RS 5 Coupe',
       'SLS AMG Black Series', 'Huayra Roadster BC', 'Battista',
       'Stinger', 'Model S', '765LT', 'Challenger Hellcat Redeye',
       'Evora', 'Challenger Hellcat', 'LC', 'Huayra BC', 'A110', 'C 63 S',
       'RS 5', 'Viper ACR', 'RS7 Sportback', 'M4 Competition',
       'Charger Hellcat', 'Jesko Absolut', 'Evija', 'AMG GT Black Series',
       '600LT Spider', 'Camaro SS 1LE', 'Speedtail', 'Si√°n', 'SLC 43',
       '718 Boxster', 'F8 Spider', '4C Spider', 'RS5 Coupe',
       'C63 S Coupe', 'TT RS Coupe', 'M4 Coupe', 'RS', 'Fenyr SuperSport',
       'Chiron Super Sport 300+', 'Senna', 'RS 7 Sportback', 'AMG C 63 S',
       'Corvette Z06', 'AMG GT 63 S', 'Portofino M', 'SL', 'Camaro',
       'Dawn', 'Chiron Pur Sport', 'GT Black Series', '400Z', 'RS6',
       'GT 63', '918 Spyder', 'Continental GT Speed', 'Challenger',
       '911 Turbo S', 'M5 Competition', 'RS6 Avant', 'Z4 Roadster',
       'Camaro SS Convertible', '370Z Coupe', 'GT 63 S', '570S Spider',
       'C 63 AMG', 'Challenger R/T', 'C63 S AMG', 'AMG C43 Coupe',
       'AMG A45', 'Ghost', 'Charger', 'Panamera GTS',
       'AMG GT 4-Door Coupe', 'C63 S', 'MC20', 'Mustang'], dtype=object)

In [50]:
# get distinct values for year
df["year"].unique()

array([2022, 2021, 2015, 2020, 2019, 2017, 1965, 2014, 2023])

In [51]:
# get distinct values for engine size
df["engine_size"].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', 'Electric', '6.5', '3.7', 'Electric Motor',
       '2.5', '1.5 + Electric', '6.8', '8.4', nan, '6.6', '7', '1.7',
       '3.3', '-', '6.7', '1.8', 'Electric (tri-motor)', '5.5',
       'Electric (93 kWh)', 'Electric (100 kWh)', 'Hybrid (4.0)', '4.6',
       '3.6', '1.5', 'Hybrid', '5.7', '2.0 (Electric)', '4.0 (Hybrid)',
       '0', '6.4', '6.3', '2.3'], dtype=object)

In [52]:
df[df["engine_size"]=="-"]

     brand     model  year engine_size horsepower torque 0-60    price
335  Tesla  Roadster  2022           -      1000+      -  1.9  200,000

In [53]:
# get distinct values for horsepower
df["horsepower"].unique()

array(['379', '630', '661', '562', '710', '617', '523', '490', '760',
       '600', '1500', '717', '296', '1280', '471', '416', '454', '300',
       '505', '320', '626', '671', '622', '720', '1914', '414', '759',
       '986', '591', '503', '650', '660', '350', '641', '611', '394',
       '612', '369', '603', '455', '460', '325', '349', '592', '444',
       '405', '797', '770', '332', '473', '480', '573', '380', '1600',
       '181', '620', '764', '624', '1000+', '382', '800', '715', '690',
       '730', '469', '365', '401', '645', '435', '1020', '500', '780',
       '750', '402', '575', '729', '789', '577', '495', '237', '310',
       '791', '1874', '542', '368', '616', '1479', '755', '1,000+', '288',
       '1888', '10000+', '482', '1973', '1262', '1035', '819', '385',
       '647', '1200', '1578', '625', '583', '429', '563', '400', '707',
       '887', '1972', '305', '640', '255', '689', '372', '1000', '2000',
       '550', '10,000', '1,500', '10,000+', '485', '1,020', '1872', '621'],
      dtype=object)

In [54]:
# get distinct values for torque
df["torque"].unique()

array(['331', '443', '561', '406', '568', '553', '494', '465', '625',
       '481', '516', '1180', '656', '295', '1015', '398', '317', '384',
       '280', '243', '664', '531', '468', '737', '738', '1696', '309',
       '590', '479', '650', '550', '276', '626', '369', '420', '627',
       '455', '505', '560', '457', '707', '270', '354', '476', '339',
       '1106', '151', '605', '368', '723', '642', '509', '604', '507',
       '513', '600', '440', '1050', '708', '774', '254', '663', '332',
       '530', '470', '258', '290', '413', '1732', '376', '-', '10,000+',
       '236', '0', '472', '1254', '848', '1300', '442', '641', '498',
       '350', nan, '944', '268', '184', '400', '263', '7,376', '1,180',
       '475', '1,050', '740', '538'], dtype=object)

In [55]:
# get distinct values for acceleration
df["0-60"].unique()

array(['4', '2.8', '3', '3.2', '2.7', '3.1', '3.8', '3.5', '2.5', '2.4',
       '5.4', '4.4', '4.8', '4.7', '3.6', '4.1', '1.85', '4.5', '3.3',
       '3.9', '4.2', '3.4', '5.1', '4.3', '2.9', '5', '5.3', '4.9', '6.5',
       '3.7', '1.95', '1.9', '1.98', '2.6', '2.3', '4.6', '< 1.9', '1.8',
       '2.1', '5.2', '2.2', '6.4', '2'], dtype=object)

In [56]:
# get distinct values for price
df["price"].unique()

array(['101,200', '274,390', '333,750', '142,700', '298,000', '130,000',
       '118,500', '59,900', '81,000', '212,000', '201,495', '3,000,000',
       '61,000', '70,100', '2,800,000', '92,950', '104,450', '150,000',
       '62,000', '78,000', '75,000', '225,000', '248,000', '155,000',
       '2,400,000', '100,200', '517,770', '625,000', '117,000', '72,800',
       '222,000', '64,695', '500,000', '45,690', '104,000', '218,000',
       '57,000', '210,000', '148,500', '132,000', '58,900', '518,000',
       '56,200', '192,500', '71,800', '68,000', '42,500', '39,000',
       '46,100', '142,100', '105,000', '87,200', '52,500', '241,000',
       '103,500', '146,000', '75,400', '42,900', '78,595', '62,750',
       '417,826', '150,980', '30,090', '88,700', '67,600', '274,280',
       '52,915', '218,009', '159,495', '142,086', '219,800', '74,290',
       '71,900', '134,300', '26,830', '213,195', '221,580', '100,550',
       '330,000', '200,000', '43,090', '1,700,000', '60,500', '522,000',
       '67,000', '212,500', '64,000', '31,015', '304,995', '190,000',
       '115,000', '59,000', '102,100', '220,300', '114,000', '239,100',
       '62,500', '65,290', '219,750', '187,700', '222,004', '71,350',
       '68,900', '276,550', '63,700', '44,000', '51,720', '45,790',
       '88,550', '222,620', '84,595', '77,500', '157,500', '204,100',
       '120,000', '69,900', '105,950', '204,550', '2,700,000', '102,900',
       '1,000,000', '131,190', '123,500', '3,400,000', '61,500',
       '507,000', '109,000', '228,000', '42,000', '45,000', '185,000',
       '56,000', '191,000', '81,250', '517,700', '242,500', '77,000',
       '76,000', '103,200', '177,700', '417,650', '115,045', '256,500',
       '59,895', '152,500', '69,995', '363,730', '183,300', '73,795',
       '183,000', '60,995', '207,000', '203,825', '99,800', '67,150',
       '77,250', '71,490', '150,400', '47,820', '38,170', '102,000',
       '393,695', '218,750', '40,590', '52,720', '174,300', '67,895',
       '62,290', '93,050', '75,100', '64,195', '211,000', '275,000',
       '2,998,000', '573,966', '3,500,000', '2,500,000', '70,000',
       '61,600', '52,200', '100,450', '102,550', '76,400', '69,000',
       '247,500', '79,900', '119,000', '307,820', '207,825', '202,500',
       '63,000', '96,950', '358,000', '30,000', '2,600,000', '180,000',
       '131,100', '82,190', '76,950', '132,795', '215,500', '80,900',
       '40,000', '209,000', '67,500', '104,200', '133,050', '196,350',
       '338,000', '218,400', '73,000', '104,970', '132,400', '71,500',
       '118,795', '240,000', '221,400', '64,100', '81,550', '62,250',
       '92,000', '141,190', '64,995', '126,190', '205,000', '75,695',
       '2,750,000', '326,050', '102,500', '44,500', '51,000', '2,300,000',
       '3,600,000', '215,000', '36,120', '220,000', '280,000', '208,800',
       '229,000', '46,200', '71,000', '308,000', '80,500', '105,900',
       '180,800', '94,000', '70,900', '76,450', '198,950', '77,950',
       '314,500', '214,425', '104,400', '335,550', '141,990', '1,550,000',
       '65,000', '63,100', '140,000', '325,000', '80,190', '68,745',
       '139,990', '5,200,000', '1,500,000', '460,247', '110,045',
       '77,400', '46,815', '85,000', '162,900', '245,000', '74,750',
       '70,595', '203,500', '47,190', '222,630', '208,000', '96,250',
       '25,000', '103,800', '48,000', '93,000', '346,300', '3,599,000',
       '1,050,000', '186,350', '205,600', '201,000', '340,000', '101,000',
       '43,000', '305,000', '204,995', '243,600', '113,000', '161,200',
       '310,000', '1,800,000', '517,000', '110,000', '300,000', '100,000',
       '135,000', '62,195', '28,000', '147,500', '250,000', '67,800',
       '211,300', '222,500', '43,995', '152,995', '235,000', '335,000',
       '50,000', '49,000', '98,395', '168,000', '64,500', '46,000',
       '147,000', '193,000', '162,000', '76,700', '35,000', '151,000',
       '83,250', '74,700', '77,600', '181,100', '329,100', '46,610',
       '74,000', '63,995', '2,900,000', '201,500', '332,500', '198,995',
       '72,000', '254,995', '60,695', '64,700', '99,990', '150,800',
       '88,800', '76,350', '202,000', '96,000', '33,000', '75,250',
       '99,000', '149,995', '37,500', '38,500', '71,450', '134,150',
       '171,200', '321,000', '100,500', '195,000', '78,100', '78,450',
       '3,900,000', '2,000,000', '254,500', '27,205'], dtype=object)

# Pre-process data

### Drop missing values

In [57]:
df = df.dropna()

### Create new column power_type

In [58]:
def get_power_type(engine_size):
    if "electric" in engine_size.lower() or "-" in engine_size.lower():
        return "electric"
    elif "hybrid" in engine_size.lower():
        return "hybrid"
    else:
        return "gasoline"
        

df["power_type"] = df["engine_size"].apply(get_power_type)
df.head()

,brand,model,year,engine_size,horsepower,torque,0-60,price,power_type
0,Porsche,911,2022,3,379,331,4,"101,200",gasoline
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390",gasoline
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750",gasoline
3,Audi,R8,2022,5.2,562,406,3.2,"142,700",gasoline
4,McLaren,720S,2021,4,710,568,2.7,"298,000",gasoline

### Replace engine size values with liter value or electric

In [59]:
def replace_engine_size(engine_size):
    if "electric" in engine_size.lower() or "-" in engine_size.lower():
        return "electric"
    elif "hybrid" in engine_size.lower():
        return "hybrid"
    else:
        return float(engine_size)
df["engine_size"] = df["engine_size"].apply(replace_engine_size)
df.head()

,brand,model,year,engine_size,horsepower,torque,0-60,price,power_type
0,Porsche,911,2022,3.0,379,331,4,"101,200",gasoline
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390",gasoline
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750",gasoline
3,Audi,R8,2022,5.2,562,406,3.2,"142,700",gasoline
4,McLaren,720S,2021,4.0,710,568,2.7,"298,000",gasoline

### Convert horsepower to metric kW

In [60]:
def convert_to_kw(power):
    match power:
        case float():
            return float(power) * 0.746
        case _:
            power_kw = float(power.replace("+", "").replace(",", "")) * 0.746
            if "+" in power:
                return f"${power_kw}+"
            return power_kw

df["power"] = df["horsepower"].apply(convert_to_kw)
df.drop(["horsepower"], axis=1, inplace=True)
df.head()

,brand,model,year,engine_size,torque,0-60,price,power_type,power
0,Porsche,911,2022,3.0,331,4,"101,200",gasoline,282.734
1,Lamborghini,Huracan,2021,5.2,443,2.8,"274,390",gasoline,469.98
2,Ferrari,488 GTB,2022,3.9,561,3,"333,750",gasoline,493.106
3,Audi,R8,2022,5.2,406,3.2,"142,700",gasoline,419.252
4,McLaren,720S,2021,4.0,568,2.7,"298,000",gasoline,529.66

### Drop torque with "-" and 0 rows

In [61]:
df = df[df["torque"] != "-"]

### Convert torque lb-ft to metric Nm

In [62]:
def convert_to_nm(torque):
    match torque:
        case float():
            return float(torque) * 1.36
        case _:
            torque_nm = float(torque.replace("+", "").replace(",", "")) * 1.36
            if "+" in torque:
                return f"${torque_nm}+"
            return torque_nm
df["torque"] = df["torque"].apply(convert_to_nm)
df.head()

,brand,model,year,engine_size,torque,0-60,price,power_type,power
0,Porsche,911,2022,3.0,450.16,4,"101,200",gasoline,282.734
1,Lamborghini,Huracan,2021,5.2,602.48,2.8,"274,390",gasoline,469.98
2,Ferrari,488 GTB,2022,3.9,762.96,3,"333,750",gasoline,493.106
3,Audi,R8,2022,5.2,552.16,3.2,"142,700",gasoline,419.252
4,McLaren,720S,2021,4.0,772.48,2.7,"298,000",gasoline,529.66

### Convert 0-60mph to 0-100kmh

In [63]:
def convert_to_zero_to_hundred_kmh(time):
    time_kmh = float(time.replace("< ", "")) * 1.05
    if "<" in time:
        return f"< {time_kmh}"
    return time_kmh
df["acceleration"] = df["0-60"].apply(convert_to_zero_to_hundred_kmh)
df.drop(["0-60"], axis=1, inplace=True)
df.head()

,brand,model,year,engine_size,torque,price,power_type,power,acceleration
0,Porsche,911,2022,3.0,450.16,"101,200",gasoline,282.734,4.2
1,Lamborghini,Huracan,2021,5.2,602.48,"274,390",gasoline,469.98,2.94
2,Ferrari,488 GTB,2022,3.9,762.96,"333,750",gasoline,493.106,3.15
3,Audi,R8,2022,5.2,552.16,"142,700",gasoline,419.252,3.36
4,McLaren,720S,2021,4.0,772.48,"298,000",gasoline,529.66,2.835

### Remove "," from prices

In [64]:
df["price"] = df["price"].apply(lambda price: int(price.replace(",", "")))
df.head()

,brand,model,year,engine_size,torque,price,power_type,power,acceleration
0,Porsche,911,2022,3.0,450.16,101200,gasoline,282.734,4.2
1,Lamborghini,Huracan,2021,5.2,602.48,274390,gasoline,469.98,2.94
2,Ferrari,488 GTB,2022,3.9,762.96,333750,gasoline,493.106,3.15
3,Audi,R8,2022,5.2,552.16,142700,gasoline,419.252,3.36
4,McLaren,720S,2021,4.0,772.48,298000,gasoline,529.66,2.835

### Rearrange columns

In [65]:
df.columns = ["brand", "model", "year", "price", "power_type", "acceleration", "engine_size", "power", "torque"]
df.head()

,brand,model,year,price,power_type,acceleration,engine_size,power,torque
0,Porsche,911,2022,3.0,450.16,101200,gasoline,282.734,4.2
1,Lamborghini,Huracan,2021,5.2,602.48,274390,gasoline,469.98,2.94
2,Ferrari,488 GTB,2022,3.9,762.96,333750,gasoline,493.106,3.15
3,Audi,R8,2022,5.2,552.16,142700,gasoline,419.252,3.36
4,McLaren,720S,2021,4.0,772.48,298000,gasoline,529.66,2.835

### Save processed data

In [66]:
df.to_csv("../dataset/processed_data.csv", index=False, header=True)